body {
	background-color: #f2fbff;
}
.block {
	text-align: right;
	margin-right: 30px;


	
}
.top {
	background-color: white;
}
.Google {
	margin-left: 530px;
	margin-top: 160px;
	width: 450px;

}
.search-box {
	width: 550px;
	margin-left: 475px;
	height: 40px;
	border-radius: 250px;
	font-size: 110%;
}
.Button1 {
	width: 130px;
	height: 30px;
	margin-left: 620px;
	margin-top: 10px;
	border-radius: 2px;
}
.Button2 {
	width: 120px;
	height: 30px;
	margin-top: 20px;
	margin-left: 5px;
	border-radius: 2px;
}
.ga {
	text-align: center;
	font-style: all;
	margin-top: 20px;
}
mark {
	background-color: white;
	color: blue;
}
.bottem1 {
	background-color: lightgray;
	text-align: left;
	margin-top: 200px;
	height: 50px;


}
span {
	background-color: red;
	width: 10px;
	height: 10px;
	
}