body {
	background-color: #f2fbff;
}
.block {
	text-align: right;
	margin-right: 20px;


	
}
.top {
	background-color: white;
}
.Google {
	margin-left: 530px;
	margin-top: 160px;
	width: 450px;

}
.search-box {
	width: 500px;
	margin-left: 510px;
	height: 40px;
	border-radius: 250px;
	font-size: 110%;
}
.Button1 {
	width: 100px;
	height: 35px;
	margin-left: 630px;
	margin-top: 10px;
	border-radius: 5px;
}
.Button2 {
	width: 95px;
	height: 35px;
	margin-top: 20px;
	margin-left: 50px;
	border-radius: 5px;
}
.ga {
	text-align: center;
	font-style: all;
	margin-top: 20px;
}
mark {
	background-color: white;
	color: blue;
}
.bottem1 {
	background-color: lightgray;
	text-align: left;
	margin-top: 200px;
	height: 20px;

}
.bottem2 {
	background-color: lightgray;
	text-align: left;
	height: 20px;



}